html
  width: 100%
  height: 100%
  margin: 0px
  padding: 0px
  overflow hidden

body
  height: inherit
  width: inherit
  margin: 0px
  display: flex
  justify-content: center
  align-items: center

canvas
  border 1px solid black

[class^="preload-"]
  position absolute
  top -1000px
  left -1000px

.preload-erica-one
  font-family 'Erica One'

.preload-chango
  font-family 'Chango'

.preload-ubuntu-mono
  font-family 'Ubuntu Mono'
