html
  width 100%
  height 100%
  margin 0
  padding 0
  overflow-x hidden
  font-family 'Overlock', sans-serif
  --piece-width 352px
  --title-height 51px
  --title-margin-top .5rem
  --title-margin-bottom 1rem
  --game-height 600px
  --main-height calc(var(--game-height) + var(--title-margin-top) + var(--title-height) + var(--title-margin-bottom))

body
  height inherit
  width inherit
  margin 0

#container
  display grid
  grid-template-rows 1fr calc(0.5 * var(--main-height)) calc(0.5 * var(--main-height)) 1fr
  grid-template-columns 1fr var(--piece-width) minmax(2rem, 1fr) var(--piece-width) 1fr
  grid-template-areas ". . . . ." ". game . top-right ." ". game . bot-right ." ". . . . ."
  height 100vh

  justify-items center
  align-items center
  
  background-image url(https://www.transparenttextures.com/patterns/bedge-grunge.png), linear-gradient(to right bottom, #e7e7e7, #002552 60%)
  background-size auto, cover
  background-position 0% 0%, left top
  animation moving-bg 30s linear 0s infinite
  box-shadow 0 3px 5px rgba(0,0,0,0.25)
  border-bottom 1px solid rgba(0,0,0,0.25)

@keyframes moving-bg
  from
    background-position 0 0, left top
  to
    background-position 588px 375px, left top

#game
  height 602px

.piece
  width 352px
  box-sizing border-box

main
  grid-area game

#git-kraken-ui
  grid-area top-right

#team
  grid-area bot-right


.box
  border 1px solid black
  width 100%
  box-sizing border-box

h1, h2
  font-family 'Chango', sans-serif
  margin-top var(--title-margin-top)
  margin-bottom var(--title-margin-bottom)
  height 3rem
  box-sizing border-box
  text-align center
  background-image -webkit-linear-gradient(#2AC2FF, #B200FF 90%)
  -webkit-background-clip text
  -webkit-text-fill-color transparent
  -webkit-text-stroke 1px #111
  padding: 0em 0 1.6em

h1
  font-size 2rem
h2
  font-size 1.5rem

h1#game-title,
h2#your-gk-title
  line-height 0.7em
h2#your-gk-title
  font-size 2rem
  background-image linear-gradient(#02F13D, #ddd 60%, #F06980 90%)

h3
  margin-bottom 0.25em
  &:not(:first-of-type)
    margin-top 0.75em
    border-top 1px dashed gray

#frameworks-footer
  background-color white
  color #fff
  margin-top 0.5em
  padding 0.25em 1em
  width 100%


#git-kraken-figure
  margin 0
  width 100%

.git-kraken-images
  display flex
  position relative
  border-bottom 1px solid gray
  min-height 200px
  box-shadow 0 2px 2px rgba(0, 0, 0, 0.25);

.git-kraken-image
  width 100%
  position absolute
  top 0
  left 0

.git-kraken-image:first-of-type
  position static


#git-kraken-log
  max-height 5em
  line-height 1em
  margin 0
  padding 0.25em
  overflow-y auto
  text-align center
  background-color darken(white, 10%)

#team
  position relative
  > .box
    min-height 286px
    background-color white
    iframe
      margin 0 !important
  .back
    padding 1em
    box-sizing: border-box;
  > h2
    height auto
    padding 0
  dl
    margin 0
  dt
    float left
    clear both
  dd
    float right

.clearfix
  zoom 1
  &:after, &:before
    content ""
    display table
  &:after
    clear both

.tag
  background-color #ddd
  border-radius 0.25em
  padding 0 0.25em
  margin-right 0.25em
  font-size 0.75em
  box-shadow 2px 2px 2px gray
  /*
  &.orange
    background-color #E2B054
  &.green
    background-color #0BC301
  &.blue
    background-color #01C3BC
  &.golden
    background-color #BEC301
  &.hotpink
    background-color #B001C3
  &.weakred
    background-color #EA2A2A
  &.oceanblue
    background-color #372AEA
  &.lightgreen
    background-color #75F17A
  */

#frameworks-footer
  &> ul
    display flex
    justify-content space-around
    align-items center
    margin 0
    padding 0
    list-style-type none
  img
    height 80px

[class^="preload-"]
  position absolute
  top -1000px
  left -1000px

.preload-erica-one
  font-family 'Erica One'

.preload-chewy
  font-family 'Chewy'

.preload-chango
  font-family 'Chango'

.preload-overlock
  font-family 'Overlock'

.preload-ubuntu-mono
  font-family 'Ubuntu Mono'


.twitter-tweet
  max-width auto !important
  margin 0 !important


@media screen and (max-width: 800px)
  #container
    height auto
    grid-template-rows minmax(100vh, auto) auto auto
    grid-template-columns 1fr
    grid-template-areas "game" "top-right" "bot-right"
    gap 2rem
    padding-bottom 2rem

  main
    align-self flex-start

  #game, #game > canvas
    max-width 100vw
    aspect-ratio 350 / 600
    height auto !important

  .piece
    max-width 100vw

  .git-kraken-images
    min-height auto

@media screen and (max-width: 640px)
  #frameworks-footer
    box-sizing border-box
    padding-right 1em

    ul
      flex-wrap wrap
      gap 2rem

@media screen and (max-width: 530px)
  #frameworks-footer h2
    line-height: 0.7em

@import gkui-animations
@import flip-card
